.brandTitle {
  font-family: "Playfair Display", serif;
  margin: 0 0 0 12px;
  font-size: 20px;
}

.navLinks {
  margin-bottom: auto;
}

.navLinks li a {
  display: block;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 1s linear 0s;
}

.navLinks li a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.103);
}

.navLinks a.active {
  background-color: var(--link-clr);
  transition: background-color 2s linear 0s, transform 1s linear 0s;
}

.navLinks a.active:hover {
  background-color: rgb(194, 34, 34);
  transform: scale(0.99, 0.99);
}
