@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital,wght@1,500&family=Roboto&display=swap');

:root {
    --primary-clr: rgb(16, 16, 16);
    --secondary-clr: rgb(218, 218, 218);
    --button-clr: rgb(139, 16, 16);
  }
  
* {
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: var(--primary-clr);
    font-family: 'Open Sans', sans-serif;
}
